html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  box-sizing: border-box; }

.week-list {
  margin: 50px 1% 0 1%;
  width: 98%;
  min-height: 640px;
  display: flex;
  flex-wrap: wrap; }

.week {
  padding-top: 33px;
  margin-left: 3%;
  min-width: 20%;
  height: 80px;
  text-align: center;
  color: white;
  min-height: 80px;
  background-color: #bbbbbb; }

.week:hover {
  background-color: #cccccc; }

.new-week-button {
  margin-left: 3%;
  min-width: 20%;
  height: 80px;
  font-size: 80px;
  text-align: center;
  color: white;
  background-color: #bbbbbb; }

.new-week-button:hover {
  background-color: #cccccc; }

a.new-week-button {
  text-decoration: none; }
